{% load static %}

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/image.png' %}">
    {% if search_needed %}
    <form class="d-flex tm-search-form">
        <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
    {% endif %}
    {% if login_needed %}

    
        <form method="POST" action="" class="tm-search-form"> 
            {% csrf_token %}

            <input type="text" name="username" placeholder="Enter Username"  class="from-control tm-search-input"/>
            
            <input type="password" name="password" placeholder="Enter Password" class="from-control tm-search-input"/>

            <input type="submit" value="Login" class="btn btn-outline-success tm-search-btn"/>
        </form>

    {% endif %}
</div>