{% load static %}



<div class="col-12 tm-hero d-flex align-items-center justify-content-around" data-parallax="scroll" data-image-src="{% static 'img/image.png' %}">
    {% if search_needed %}
    <div class="col-8 d-flex flex-column justify-content-center align-items-center">
            <select id="engine_selector" name="engine_type" class="tm-search-input col-6 m-2" onchange="updateChild()">
                {% for engine_name,_ in navigator.items %}
                    <option value="{{ engine_name }}">{{ engine_name|capfirst }}</option>
                {% endfor %}
            </select>
            <select id="collection_selector" name="collection_name" class="tm-search-input col-6 m-2">
                        <option value="" engine_name="">All</option>
                {% for engine_name,items in navigator.items %}
                    {% for insight in items %}
                        <option value="{{ insight }}" engine_name="{{ engine_name }}">{{ insight|lower|capfirst }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
            <button  class="btn btn-outline-success tm-search-btn col-6 m-2" onclick="launchCollection()">
                <i id="btn_collection" class="fas fa-search"></i>
            </button>
    </div>
    {% comment %}
    <form class="tm-search-form col-2">
            <input class="tm-search-input m-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn m-2" type="submit">
                <i class="fas fa-search"></i>
            </button>
    </form>
    {% endcomment %}
    {% endif %}
    {% if login_needed %}
        <form method="POST" action="" class="tm-search-form d-flex flex-column justify-content-center align-items-center">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Enter Username" class="tm-search-input col-6 m-2"/>
          <input type="password" name="password" placeholder="Enter Password" class="tm-search-input col-6 m-2"/>
          <input type="submit" value="Login" class="btn btn-outline-success tm-search-btn col-6 m-2"/>
        </form>            
    {% endif %}
</div>


{% if login_needed %}
<div class="alert alert-info alert-dismissible d-flex fade show align-items-center justify-content-center" role="alert">
    <strong>Demo Credentials -> Username: Emma | Password: Demo</strong>
</div>
{% endif %}
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-warning alert-dismissible d-flex fade show align-items-center justify-content-center" role="alert">
        <strong>{{ message }}</strong>
    </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-info alert-dismissible d-flex fade show align-items-center justify-content-center" role="alert">
            <strong>{{ message }}</strong>
        </div>
            {% endif %}
    {% endfor %}
{% endif %}

<script src="{% static 'js/nav.js' %}"></script>