{% load static %}



<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/image.png' %}">
    {% comment %}
    {% if search_needed %}
    <form class="d-flex tm-search-form">
        <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
    {% endif %}
    {% endcomment %}
    {% if login_needed %}

        <form method="POST" action="" class="tm-search-form"> 
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter Username"  class="from-control tm-search-input"/>
            
            <input type="password" name="password" placeholder="Enter Password" class="from-control tm-search-input"/>

            <input type="submit" value="Login" class="btn btn-outline-success tm-search-btn"/>
        </form>

    {% endif %}
</div>


{% if login_needed %}
<div class="alert alert-info alert-dismissible d-flex fade show align-items-center justify-content-center" role="alert">
    <strong>Demo Credentials -> Username: Emma | Password: Demo</strong>
</div>
{% endif %}
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-warning alert-dismissible d-flex fade show align-items-center justify-content-center" role="alert">
        <strong>{{ message }}</strong>
    </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-info alert-dismissible d-flex fade show align-items-center justify-content-center" role="alert">
            <strong>{{ message }}</strong>
        </div>
            {% endif %}
    {% endfor %}
{% endif %}