{% extends 'main.html' %} {% block content %} {% load static %}

<div class="container-fluid tm-mt-60">
  <div class="row mb-4">
    <h2 class="col-12 tm-text-primary">About Project Shkedia</h2>
  </div>
  <div class="row tm-mb-50">
    <div class="col-md-6 col-12">
      <div class="tm-about-2-col">
        <p class="mb-4">
          Every day, we accumulate massive amounts of MEDIA on our phones.
          Taking pictures and videos is easy, so we often try 10 times until we
          get the best photo. If that's not enough, the MEDIA we create gets
          mixed up with spam from different apps. After all that, we need to
          save copies of the important MEDIA, a never-ending process of
          screening, copying, backing up, and more. At the end of the day, the
          entire MEDIA usually sits on a hard drive that is rarely opened.
        </p>
        <p>
          The idea of Project Shkedia was born as a response to the
          challenges outlined above. It aims to enable effortless and secure management of our MEDIA through the following
          features: seamless uploading of MEDIA to the cloud, efficient cleaning
          of backed-up MEDIA from the phone, combining all family MEDIA,
          screening for spam, and suggesting deletions. Additionally, it will
          organize MEDIA into albums based on events and people and extract
          INFORMATION for our benefit.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="tm-about-2-col">
        <!-- <h2 class="tm-text-primary mb-4">Life of a Media</h2> -->
        <p class="mb-4">
          <object data="{% static 'img/Infograph - Image Life.svg' %}" class="img-fluid"
            style="background-color: white"></object>
        </p>
      </div>
    </div>
  </div>
  {% comment %}
  <!-- <div class="row tm-mb-50">
    <div class="col-md-6 col-12">
      <div class="tm-about-2-col">
        <h2 class="tm-text-primary mb-4">Life of a Media</h2>
        <p class="mb-4">
          The system brings life to our MEDIA files and takes good care of them.
          While uploading the media, the system process it. She creates little
          copy as thumbnail, not before she makes sure it is aligned. We collect
          all the INFORMATION about the MEDIA. Then each media get its own
          special encryption key. That key is encrypted again and saved with the
          media's INFORMATION and thumbnail. The MEDIA itself is sent to safe
          keeping.
        </p>
        <p>
          When we want to enjoy our MEDIA, the system carefully opens each and
          every little thumbnail. Then arranges them in collection according to
          our desire and sent them back to us shiny. Then we can browse and
          search until we find, that special MEDIA we want to print and save in
          printed album. Until then, the MEDIA itself is save and warm in it's
          safe.
        </p>
        <p class="mb-4">
          The system breathes life into our MEDIA files and takes good care of
          them. While uploading the MEDIA, the system processes it. It creates a
          small copy as a thumbnail, ensuring alignment beforehand. We gather
          all the INFORMATION about the MEDIA. Then, each media gets its own
          special encryption key. That key is encrypted again and saved with the
          media's INFORMATION and thumbnail. The MEDIA itself is sent for
          safekeeping.
        </p>
        <p>
          When we want to enjoy our MEDIA, the system carefully opens each and
          every little thumbnail. Then, it arranges them in collections
          according to our desires and sends them back to us, shining. Now, we
          can browse and search until we find that special MEDIA we want to
          print and save in a printed album. Until then, the MEDIA itself is
          safe from harm.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="tm-about-2-col">
        <h2 class="tm-text-primary mb-4">Life of a Media</h2>
        <p class="mb-4">
          <object
            data="{% static 'img/Infograph - Image Life.svg' %}"
            class="img-fluid"
            style="background-color: white"
          ></object>
        </p>
      </div>
    </div>
  </div> -->
  {% endcomment %}
  <div class="row tm-mb-50">
    <div class="col-md-6 col-12">
      <div class="tm-about-2-col">
        <h2 class="tm-text-primary mb-4"></h2>
        <p class="mb-4">
          <object data="{% static 'img/Infograph - System Design.svg' %}" class="img-fluid"
            style="background-color: white"></object>
        </p>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="tm-about-2-col">
        <h2 class="tm-text-primary mb-4">Behind The Scenes</h2>
        {% comment %}
        <!-- <p class="mb-4">
          The System is built for cloud environment and horizontal scaling in
          mind. Each component is built as a self sustained container. The
          communication between the components is base on RESTful API. Each
          service was built with the technology that was chosen to best fit it.
        </p>
        <p>
          The internal micro-services were built using FastAPI as it is light
          and gave tone of flexibility to handle complex works. The internal
          layer was created in order to enable quick db or storage change,
          without the need to dive into a huge code base. That layer serves the
          backend layer and supports it with the complex logics. None of those
          components has access to the encrypted data and they act as a pipe to
          the rest of the system.
        </p>
        <p>
          The core business logic is implemented in the Backend Layer. It is
          divided to Upload Service and Gallery (Download) Service. The idea was
          that the upload process is memory and time consuming. It also handles
          the files and for that matter can be more compromised. That component
          has only the Public key of the system, and those even when attacked or
          broken, the rest of the system can be safe and functional. The Gallery
          Backend was built using Django because of it's strong Template engine.
          It handles all the presentation and searching logics in the system.
        </p>
        <p>
          The frontend is also divided to two core clients: Android (Kotlin) -
          for uploading MEDIA and cleaning the phone, and web-based application
          to view and search the data. Most of the Web-UI is based on the
          template designed by TemplateMo (Catalog-Z Company).
        </p> -->
        {% endcomment %}
        <p class="mb-4">
          The system is built for a cloud environment with horizontal scaling in
          mind. Each component is designed as a self-sustained container, and
          communication between the components is based on RESTful API.
        </p>
        <p>
          The internal micro-services were built using FastAPI as it is
          lightweight and provides a ton of flexibility to handle complex tasks.
          This layer enables quick database or storage changes without the need
          to dive into a huge code base. It serves the backend layer, supporting
          it with complex logic. None of these components have access to
          encrypted data; they act as a pipe to the rest of the system.
        </p>
        <p>
          The core business logic is implemented in the Backend Layer, divided
          into the Upload Service and Gallery (Download) Service. The upload
          process is memory and time-consuming, and it handles the files, making
          it more prone to attacks. This component only has the public key of
          the system. Even if attacked or compromised, the rest of the system
          can remain safe and functional. The Gallery Backend was built using
          Django because of its strong template engine, handling presentation
          and searching logics in the system.
        </p>
        <p>
          The frontend is also divided into two core clients: Android (Kotlin)
          for uploading media and cleaning the phone, and a web-based
          application to view and search the data. Most of the Web-UI is based
          on the template designed by
          <a href="https://templatemo.com" class="tm-text-gray" rel="sponsored" target="_parent">TemplateMo (Catalog-Z
            Company)</a>.
        </p>
      </div>
    </div>
  </div>
  <!-- row -->
  <div class="row tm-mb-50">
    <div class="col-md-6 col-12">
      <div class="tm-about-2-col">
        <div class="tm-about-icon-container mb-5">
          <i class="fas fa-images fa-3x tm-text-primary"></i>
        </div>
        <h2 class="tm-text-primary mb-4">DATA</h2>
        {% comment %}
        <!-- <p class="mb-4">
          The data of the system is separated to INFORMATION and MEDIA. The
          MEDIA are the images and videos binary files, The INFORMATION is the
          rest. Each has different properties and is handled differently.
        </p>
        <p>
          The MEDIA takes a lot of storage and the access to it should NOT be
          frequent, therefore it will be kept in a storage system, might even
          cold one.
        </p>
        <p>
          As for the INFORMATION, we need constant access to it. All the logics
          is based on it. However, We keep small copy of the MEDIA (thumbnail)
          in the DB for the everyday usage.
        </p> -->
        {% endcomment %}
        <p class="mb-4">
          The system's data is divided into two categories: INFORMATION and
          MEDIA. MEDIA includes binary files like images and videos, while
          INFORMATION encompasses the rest, each with distinct properties and
          handling procedures.
        </p>
        <p>
          MEDIA consumes significant storage space, and frequent access is not
          required. Hence, it will be stored in a dedicated storage system,
          possibly even a cold one.
        </p>
        <p>
          In contrast, constant access is crucial for INFORMATION, forming the
          foundation for all system logics. However, for everyday use, a compact
          copy of MEDIA (thumbnail) is stored in the database.
        </p>
      </div>
    </div>
    {% comment %}
    <!-- <div class="col-md-4 col-12">
      <div class="tm-about-3-col">
        <div class="tm-about-icon-container mb-5">
          <i class="fas fa-shield-alt fa-3x tm-text-primary"></i>
        </div>
        <h2 class="tm-text-primary mb-4">SECURITY</h2>
        <p class="tm-mb-50">The</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div> -->
    {% endcomment %}
    <div class="col-md-6 col-12">
      <div class="tm-about-2-col">
        <div class="tm-about-icon-container mb-5">
          <i class="fas fa-robot fa-3x tm-text-primary"></i>
        </div>
        <h2 class="tm-text-primary mb-4">AI (Future Features)</h2>
        <p class="mb-4">
          By using various open-source Deep Learning Models, this system can grow and align with the project's goals. Insights
          about the images will be gathered to enhance search. Automatic classification of images will empower albums
          creation. For example, YOLOv7 will extract the objects exist in the images. Using face detection and
          recognition models, personal albums can be created. With DeepFace, face attributes and emotions can also be
          extracted. All of these enhancements will contribute to a better search experience.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- container-fluid, tm-container-content -->

{% endblock %}