{% extends 'main.html' %} {% block content %} {% load static %}

<div class="container-fluid tm-mt-60">
  <div class="row mb-4">
    <h2 class="col-12 tm-text-primary">Oz Shaked</h2>
  </div>
  <div class="row tm-mb-74 tm-row-1640">
    <div class="col-lg-5 col-md-6 col-12 mb-3">
      <img src="{% static 'img/about.jpg' %}" alt="Image" class="img-fluid" />
    </div>
    <div class="col-lg-7 col-md-6 col-12">
      <div class="tm-about-2-col">
        <p class="mb-4">
          Ever since I was little, computers and technology have surrounded me. At the age of 14, I taught myself web
          development and became part of the online community, enjoying sharing ideas and testing design paradigms. I
          was intrigued by server-side development, data structures, and architectures. In high school, I delved into
          computer science extensively. During that time, I had the opportunity to start a Bachelor's Degree in
          Mechanical Engineering, and my career took a slight turn.
        </p>
      <p>I have always been drawn to Robotics and Artificial Intelligence (Fuzzy Logics, Prolog, etc.), System
          Engineering, Computer Vision, and CAD systems. I have designed numerous mission-critical and complex systems
          that incorporate expertise in Mechanics, Software, Data, Electronics, and more. As time passed, I realized my
          passion for Software Engineering is strong, and for the past six years, I have been taking on more tasks in
          that domain.</p>
        <p>Project Shkedia is another significant step, leveraging the experience I have gathered over the years to
          cherish our family's memories.</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}