  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      {% comment %}
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Navigate</h5>
      {% endcomment %}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'albums' content.engine_type 1 %}" class="tm-text-gray">{{ content.engine_type }}</a></li>
            {% if canvas.view_type == 'album' %}
            <li class="breadcrumb-item active" aria-current="page" class="tm-text-gray">{{ content.album_name }}</li>
            {% endif %}
            {% if content.media %}
            <li class="breadcrumb-item"><a href="{% url 'album_view' content.engine_type content.album_name page.current_page %}" class="tm-text-gray">{{ content.album_name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page" class="tm-text-gray">Media</li>
            {% endif %}
          </ol>
        </nav>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    
    <div class="offcanvas-body">

        {% for item in canvas.nav_list %}
        <div class="container-fluid overflow-hidden" style="margin-bottom: 20px;">
            <figure class="effect-ming tm-video-item" style="margin-bottom: 0px;">
                <img src="{% url 'media_file' item.thumbnail %}" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{ item.name }}</h2>
                    {% if canvas.view_type == "album" %}
                    <a href="{% url 'album_view' content.engine_type item.name 1 %}">View more</a>
                    {% endif %}
                    {% if canvas.view_type == "media" %}
                    <a href="{% url 'media_view' content.engine_type content.album_name page.current_page item.media_id %}">View more</a>
                    {% endif %}
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray align-items-center">
              {% if canvas.view_type == "album" %}
              <span class="tm-text-gray-light">{{ item.name }}</span>
              <span>{{ item.media_list|length }} Images</span>
              {% endif %}
              {% if canvas.view_type == "media" %}
              <span class="tm-text-gray-light">{{ item.canvas_left_description }}</span>
              <span>{{ item.canvas_right_description }}</span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </div>
  </div>