{% extends 'main.html' %} {% block content %}



<div class="container-fluid tm-container-content tm-mt-60">
  <div class="row mb-4">
    <h2 class="col-6 tm-text-primary">{{ content.album_name|lower|capfirst }}</h2>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <form action="" class="tm-text-primary">
        Page
        <input type="text" value="{{ page.current_page }}" size="1" class="tm-input-paging tm-text-primary" />
        of {{ page.pages_list|length }}
      </form>
    </div>
    <div class="col-12 d-flex justify-content-end align-items-center">
      <a class="btn btn-secondary" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
        View Albums
      </a>
    </div>

  </div>

  <div class="row tm-mb-90 tm-gallery">
    {% for media in content.media_list %}

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img src="{% url 'media_file' media.media_id %}" alt="Image" class="img-fluid" />
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2>{{ media. }}</h2>
          <a href="{% url 'media_view' content.engine_type content.album_name page.current_page media.media_id %}">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">{{ media.created_on|date:"d/m H:i" }}</span>
        <span>{{ media.media_size_bytes|filesizeformat }}</span>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row tm-mb-90">
    <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
      <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
        {% if page.current_page > 1 %}
        <a href="{% url 'album_view' content.engine_type content.album_name page.current_page|add:'-1' %}" class="btn btn-primary tm-btn-prev mb-2">Previous</a>
        {% else %}
        <a href="javascript:void(0);" class="btn btn-primary tm-btn-prev mb-2 disabled">Previous</a>
        {% endif %}
        <div class="tm-paging d-flex">
          {% for item in page.pages_list %} {% if item == page.current_page %}
          <a href="{% url 'album_view' content.engine_type content.album_name item %}" class="active tm-paging-link">{{ item }}</a>
          {% else %}
          <a href="{% url 'album_view' content.engine_type content.album_name item %}" class="tm-paging-link">{{ item }}</a>
          {% endif %} {% endfor %}
        </div>
        {% if page.current_page < page.pages_list|length %} <a href="{% url 'album_view' content.engine_type content.album_name page.current_page|add:'1' %}"
          class="btn btn-primary tm-btn-next">Next Page</a>
          {% else %}
          <a href="javascript:void(0);" class="btn btn-primary tm-btn-next disabled">Next Page</a>
          {% endif %}
      </div>
    </div>
  </div>
</div>
  <!-- container-fluid, tm-container-content -->
  {% include 'base/side_offcanvas.html' %}

  {% endblock %}

