{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid tm-container-content tm-mt-60">


    <div class="row mb-4">
        <div class="col-6 col-sm-6 col-md-6 col-xl-8">
            {% if content.media.name and not content.media.name == '-' %}
            <h2 class="col-12 tm-text-primary">{{ content.media.name }}</h2>
            {% else %}
            <h2 class="col-12 tm-text-primary">{{ content.media.created_on|date:"d/m H:i" }}</h2>
            {% endif %}
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-xl-4 d-flex justify-content-end align-items-center">
            <a class="btn btn-secondary" data-bs-toggle="offcanvas" href="#offcanvasExample"
                aria-controls="offcanvasExample">
                View Images
            </a>
        </div>
    </div>


    <div class="row tm-mb-90">
        <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12" style="position: relative">
            <img src="{% url 'media_file' content.media.media_id %}" alt="Image" class="img-fluid-wide" id="{{ content.media.media_id }}">
            <div id="boundingboxes"></div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
            <div class="tm-bg-gray tm-video-details">
                <h3 class="tm-text-gray-dark mb-3">Media Details</h3>
                <div class="col-12 mb-2">
                    <span class="tm-text-gray-dark">Owner: </span><span class="tm-text-primary">{{ content.media.user.user_name }}</span>
                </div>
                {% if content.media.device.device_name %}
                <div class="col-12 mb-2">
                    <span class="tm-text-gray-dark">Device: </span><span class="tm-text-primary">{{ content.media.device.device_name }}</span>
                </div>
                {% endif %}
                <div class="col-12 mb-2">
                    <span class="tm-text-gray-dark">Date: </span><span class="tm-text-primary">{{ content.media.created_on|date:"d/m/y H:i" }}</span>
                </div>
                {% if content.media.media_width %}
                <div class="col-12 mb-2">
                    <span class="tm-text-gray-dark">Dimension: </span><span class="tm-text-primary">{{ content.media.media_width }}x{{ content.media.media_height }}</span>
                </div>
                {% endif %}
                <div class="col-12 mb-2">
                    <span class="tm-text-gray-dark">Size: </span><span class="tm-text-primary">{{ content.media.media_size_bytes|filesizeformat }}</span>
                </div>
                <div class="col-12 mb-2">
                    <span class="tm-text-gray-dark">Format: </span><span class="tm-text-primary">JPG</span>
                </div>
                {% if content.media.media_description != "-" %}
                <div class="mb-4">
                    <h3 class="tm-text-gray-dark mb-3">Description</h3>
                    <p>{{ content.media.media_description }}</p>
                </div>
                {% endif %}
                <div class="table-responsive">
                    {% if content.media_details.grouped_insights %}
                        <h3 class="tm-text-gray-dark mb-3">Automatic Insights</h3>
                        <table class="table table-sm">
                            <thead><tr>
                                <th scope="col"></th>
                                <th scope="col" class="tm-text-gray-dark">Engine</th>
                                <th scope="col" class="tm-text-gray-dark">Detected</th>
                                <th scope="col" class="tm-text-gray-dark">Intances</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for engine,insights_groups in content.media_details.grouped_insights.items %}
                                    {% for key,insights_list in insights_groups.items %}
                                <tr>
                                    <td data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Expand" onclick="expand_row('{{ key }}')"><i id="toggle-{{ key }}"class="fas fa-caret-right" onclick="expand_row('{{ key }}')"></i></td>
                                    <td class="tm-text-primary">{{ engine }}</td>
                                    <td class="tm-text-primary">{{ key }}</td>
                                    <td class="tm-text-primary">{{ insights_list|length }}</td>
                                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Search {{ key }}"><a href="{% url 'album_view' engine key 1 %}"><i class="fas fa-search"></i></a></td>
                                </tr>
                                <tr id={{ key }} class="d-none">
                                    <td colspan="100%">
                                       <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="tm-text-gray-light">ID</th>
                                                <th scope="col" class="tm-text-gray-light">Status</th>
                                                <th scope="col" class="tm-text-gray-light">Prob</th>
                                                <th scope="col" class="tm-text-gray-light"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for insight in insights_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ insight.status }}</td>
                                                <td>{{ insight.prob|floatformat:2 }}</td>
                                                <td>
                                                {% if insight.bounding_box %}
                                                    <i class="far fa-eye-slash" id="eye-{{ insight.id }}"
                                                    onclick="displayBoundingBox('{{ insight.media_id }}','{{ insight.id }}',{{ forloop.counter }},
                                                    {{ insight.get_bounding_box.x1 }},
                                                    {{ insight.get_bounding_box.y1 }},{{ insight.get_bounding_box.x2 }},{{ insight.get_bounding_box.y2 }})"></i>
                                                {% endif %}
                                                </td>
                                        </tr>
                                       {% endfor %}
                                        </tbody>
                                       </table>
                                        
                                    </td>
                                </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="table-responsive">
                    {% if content.media_details.jobs_list %}
                        <h3 class="tm-text-gray-dark mb-3">Image Processing</h3>
                        <table class="table table-sm">
                            <thead><tr>
                                <th scope="col" class="tm-text-gray-dark">Engine</th>
                                <th scope="col" class="tm-text-gray-dark">Created</th>
                                <th scope="col" class="tm-text-gray-dark">Status</th>
                                <!-- <th scope="col"></th> -->
                            </tr>
                            </thead>
                            <tbody>
                                {% for job in content.media_details.jobs_list %}
                                <tr>
                                    <td class="tm-text-primary">{{ job.insight_engine_id }}</td>
                                    <td class="tm-text-primary">{{ job.start_time|date:"d/m/y H:i" }}</td>
                                    <td class="tm-text-primary">{{ job.status.value }}</td>
                                    {% comment %}
                                    <!-- <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Search {{ key }}"><a href="{% url 'album_view' engine key 1 %}"><i class="fas fa-search"></i></a></td> -->
                                    {% endcomment %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
        <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
            <a href="javascript:history.back()" class="btn btn-primary tm-btn-next mb-2">Back</a>
        </div>
    </div>
</div>
{% comment %}
<div class="row mb-4">
        <h2 class="col-12 tm-text-primary">
            Related Photos
        </h2>
    </div>
    <div class="row mb-3 tm-gallery">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/img-01.jpg" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Hangers</h2>
                    <a href="#">View more</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">16 Oct 2020</span>
                <span>12,460 views</span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/img-02.jpg" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Perfumes</h2>
                    <a href="#">View more</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">12 Oct 2020</span>
                <span>11,402 views</span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/img-03.jpg" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Clocks</h2>
                    <a href="#">View more</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">8 Oct 2020</span>
                <span>9,906 views</span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/img-04.jpg" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Plants</h2>
                    <a href="#">View more</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">6 Oct 2020</span>
                <span>16,100 views</span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/img-05.jpg" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Morning</h2>
                    <a href="#">View more</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">26 Sep 2020</span>
                <span>16,008 views</span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/img-06.jpg" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Pinky</h2>
                    <a href="#">View more</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">22 Sep 2020</span>
                <span>12,860 views</span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/img-07.jpg" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Bus</h2>
                    <a href="#">View more</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">12 Sep 2020</span>
                <span>10,900 views</span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/img-08.jpg" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>New York</h2>
                    <a href="#">View more</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">4 Sep 2020</span>
                <span>11,300 views</span>
            </div>
        </div>        
    </div>
    {% endcomment %}
</div> <!-- container-fluid, tm-container-content -->

    <script src="{% static 'js/view_media.js' %}"></script>

{% include 'base/side_offcanvas.html' %}
{% endblock %}